

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Book Antiqua";
    color: #777;
}
#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    opacity: 0.8;


}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 22px;
    font-family: "Book Antiqua";
    font-weight: bold;
}

#navbar a:hover {
    background-color: darkred;
    color: white;
}
.bgimg-1, .bgimg-2 {
    position: relative;
    opacity: 0.90;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("../img/main.jpg");
    min-height: 70%;
}

.bgimg-2 {
    background-image: url("../img/hands.jpg");
    min-height: 400px;
}


.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.bullying{
    top: 100px;
    opacity: 0.8;
    width: 100%;
    height: 30%;
    padding:30px 0;
    font-size:40px;
    background: #FDEDEC;
    text-align:center;
    font-weight: bold;
}
span{
    color: #CB4335;
    font-weight: bold;

}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2 {
        background-attachment: scroll;
    }
}
